/*validacion*/

.errores {
    -webkit-boxshadow: 0 0 10px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -o-box-shadow: 0 0 10px rgba(0,0,0,.3);
    background: #c14748;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    color: #fff;
    display: none;
    font-size: 14px;
    padding: 10px;
}


#texto{
    color:black;
}